<footer class="mb-4">
    <img class="footer-logo" src="{{ asset('build/images/banodev-logo-nav.png') }}" alt="Bartosz Nowak BANO logo"/>
    <div class="company-info mt-4">
        <span class="info-elem">BARTOSZ NOWAK BANO</span>
        <span class="info-elem">NIP: 7372241459</span>
        <span class="info-elem">REGON: 526706508</span>
        <span class="info-elem">EMAIL: <a class="link" href="mailto:contact@banodev.com">contact@banodev.pl</a></span>
        <span class="info-elem">TEL: <a class="link" href='mailto:contact@banodev.com'>+48 575777047</a></span>
    </div>
    <div class="footer-watermark mt-3">
        <span>© {{ "now"|date("Y") }} BANO. All rights reserved. ™</span>
    </div>
</footer>
