{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
    <div class="card">siemano siemano <br>asdasdas</div>
{% endblock %}
