$background-color-dark: #252525;
$card-color-dark: #1d1c22;
$background-color-light: #ecf0f3;
$card-color-light: #ffffff;
$main-color: #2ff093;
$second-color: #919295;
$text-color: $second-color;
$third-color: #ffffff;
$fourth-color: #29282d;
$header-color-dark: $third-color;
$header-color-light: $fourth-color;
$shadow-color-light: #1D1C2212;
$shadow-color-dark: #FFFFFF12;
$main-margin: 24px;
$nav-height: 100px;
$mobile-nav-height: 60px;
$default-transition: all .2s ease-in-out;
