@use '@styles/_variables.scss' as vars;
@use '@fonts/_fonts.scss';
@use '@styles/_partials/nav.scss';
@use '@styles/pages/home.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FreeSans, sans-serif;
  position: relative;
  background-color: vars.$background-color-dark;
  color: vars.$text-color;

  .box {
    background-color: vars.$card-color-dark;
  }

  .box-colored {
    background-color: vars.$main-color;
  }

  .box, .box-colored {
    border-radius: 24px;
    padding: 24px;
  }

  .header {
    color: vars.$header-color-dark;
  }

  &.light {
    background-color: vars.$background-color-light;

    .box {
      background-color: vars.$card-color-light
    }

    .header {
      color: vars.$header-color-light;
    }

    h1,h2,h3,h4,h5,h6 {
      color: vars.$header-color-light;
    }

    .box-colored .header,
    .box-colored h2 {
      color: vars.$header-color-dark;
    }
  }
}

body.no-scroll {
  overflow: hidden;
}

.oswald-font {
  font-family: Oswald, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  &.bold {
    font-weight: bold;
  }

  &.bolder {
    font-weight: bolder;
  }
}

.link {
  text-decoration: none;
  color: vars.$text-color;
  transition: vars.$default-transition;

  &:hover {
    color: vars.$main-color;
  }
}

.btn {
  position: relative;
  border: solid 2px vars.$text-color;
  padding: 6px;
  border-radius: 6px;
  text-decoration: none;
  color: vars.$text-color;
  transition: vars.$default-transition;
  overflow: hidden;
  font-weight: bolder;

  &.wide {
    width: 100%;
  }

  &:hover {
    color: vars.$third-color;
    border: solid 2px vars.$main-color;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: vars.$main-color;
    width: 0;
    height: 100%;
    z-index: 1;
    transition: vars.$default-transition;
  }

  &:hover::after {
    width: 100%;
  }

  span {
    position: relative;
    z-index: 2;
  }
}

.main-content {
  width: 100%;
  padding: 0 10% 0;
  box-sizing: border-box;
}

.page {
  margin-top: calc(#{vars.$nav-height} + #{vars.$main-margin});

  @media only screen and (max-width: 1000px) {
    margin-top: calc(#{vars.$mobile-nav-height} + #{vars.$main-margin});
  }
}

p {
  font-family: "Manrope", serif;
  line-height: 24px;
  color: vars.$text-color;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 12px 0;
  font-family: Oswald, serif;
  color: vars.$header-color-dark;
}

h1 {
  font-size: clamp(24px, 5vw, 64px);
  line-height: clamp(24px, 5vw, 64px);
}

h3 {
  font-size: clamp(24px, 3vw, 48px);
  line-height: clamp(24px, 3vw, 48px);
}

h5 {
  font-size: clamp(18px, 3vw, 24px);
  line-height: clamp(18px, 3vw, 24px);
}


.main-color {
  color: vars.$main-color;
}

.company-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  align-items: center;
  justify-content: center;

  .info-elem {
    margin-right: 6px;
  }

  .info-elem:not(:last-child)::after {
    content: "•";
    color: vars.$text-color;
    margin-left: 6px;
    font-weight: bold;
  }
}

.home-grid-container .company-info {
  @media only screen and (width < 1000px) {
    display: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 50%;
  min-width: 150px;
  max-width: 150px;
}

.footer-watermark {
  font-size: 12px;
}
