{% extends 'base.html.twig' %}

{% block body %}
    <section class="contact-section">
        <h2>{{ 'contact.title'|trans }}</h2>

        <div class="contact-form contact-tile">
            <h3>{{ 'contact.form.title'|trans }}</h3>
            {% include('contact/_form.html.twig') %}
        </div>
    </section>
{% endblock %}
