@use '@styles/_variables.scss' as vars;

body {
  .navbar-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: - vars.$nav-height;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: 50;
    display: none;

    @media only screen and (width < 1000px) {
      &.active {
        display: block;
      }
    }
  }

  .nav {
    border-radius: 24px;
    padding: 24px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: vars.$nav-height;
    z-index: 99;
    top: 0;
    left: 0;
    width: 80%;
    box-sizing: border-box;
    margin: 24px 10% 0;
    box-shadow: vars.$shadow-color-dark 0 5px 10px;
    --start-angle: 0deg;

    .mobile-hidden {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 24px;
    }

    &::after, &::before {
      content: '';
      position: absolute;
      height: calc(100% + 2px);
      width: calc(100% + 2px);
      background-image: conic-gradient(from var(--start-angle), transparent 90%, vars.$main-color);
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      padding: 10px;
      border-radius: inherit;
      z-index: 0;
      animation: spin 3s linear infinite;
    }

    &::before {
      filter: blur(1.5rem);
      opacity: 0.5;
    }

    .nav-background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: vars.$card-color-dark;
      z-index: 1;
      border-radius: inherit;
    }

    .nav-list {
      margin: 0;
    }

    .nav-float,
    .nav-logo,
    .nav-list,
    .btn {
      position: relative;
      z-index: 1;
    }

    &-pipe {
      margin: 0 24px;
    }

    &-logo {
      display: flex;
      align-items: center;
    }

    &-list {
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 0;

      .link {
        font-weight: bolder;

        &:hover {
          color: vars.$third-color;
        }

        &.active {
          color: vars.$main-color;
          position: relative;
        }
      }
    }

    .nav-float {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      &.right {
        right: vars.$main-margin;
      }

      &.left {
        left: vars.$main-margin;
      }
    }

    .mobile-menu-btn {
      display: none;
      cursor: pointer;
      z-index: 100;
      background: none;
      color: vars.$text-color;
      border: none;
      padding: 12px;
    }

    .mobile-nav-logo {
      display: none;
    }

    @media only screen and (width < 1000px) {
      &.active {
        .mobile-hidden  {
          display: flex;
        }
      }

      height: vars.$mobile-nav-height;

      .mobile-hidden {
        position: absolute;
        background-color: vars.$card-color-dark;
        top: 0;
        height: 70vh;
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 24px;
        display: none;

        .nav-float:has(> .nav-color-switch) {
          position: static;
        }

        .nav-logo, .nav-pipe {
          display: none;
        }

        .nav-list {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        }
      }

      .mobile-nav-logo {
        display: block;
      }

      .mobile-menu-btn {
        display: block;
      }

      .mobile-menu-btn.active + .mobile-hidden {
        display: flex;
      }
    }
  }

  &.light {
    .nav {
      box-shadow: vars.$shadow-color-light 0 5px 10px;

      .nav-background {
        background-color: vars.$card-color-light;
      }

      .link.active:hover {
        color: vars.$main-color;
      }

      .link:hover {
        color: vars.$fourth-color;
      }
    }
  }

  .nav-color-switch {
    color: vars.$text-color;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    img.active {
      display: block;
    }

    img {
      display: none;
      width: 30px;
      height: 30px;
    }
  }

  .nav-lang {
    .fi-lang {
      border: solid 1px vars.$text-color;
      border-radius: 6px;
      width: 16px;
      height: 16px;
    }

    .link {
      font-size: 16px;
    }

    button {
      border: none;
      background: none;
      padding: 12px;
      border-radius: 12px;
      text-align: right;
      cursor: pointer;
      min-width: 120px;

      &:hover {
        color: vars.$third-color;
      }
    }

    .flag-dropdown.active {
      display: flex;
    }

    .flag-dropdown {
      position: absolute;
      display: none;
      gap: 1rem;
      background-color: vars.$card-color-dark;
      flex-direction: column;
      list-style: none;
      z-index: 99;
      border-radius: 12px;
      width: 100%;
      right: -24px;
      text-align: right;
      padding: 12px 36px;
      min-width: 200px;

      .link {
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: flex-end;
        flex-grow: 1;

        &:hover {
          color: vars.$third-color;
        }
      }
    }
  }
}

body.light {
  .flag-dropdown {
    background-color: vars.$card-color-light;

    .link:hover {
      color: vars.$fourth-color;
    }
  }

  .mobile-hidden {
    background-color: vars.$card-color-light;
  }
}
